@import "variables";
@import "main";

//main {
//  background: $teal;
//  margin:0;
//}
main{
  clear: both;
  display: block;
}
main section {
  padding-top: 60px;
  width: 25%;
  float: left;
}
//main section:first-child{
//  margin-left: 20%;
//}main section:last-child{
//  margin-left: 5%;
//}


h3 {
  font-family: sans-serif;
  padding:0;
  //margin:0;
}

h1 {
  color: $darkBlue;
  font-family: sans-serif;
  font-size: 60px;
  text-align: center;
  padding: 50px;
  //margin: 0;
}

nav h3 {
  color: $orange;
  padding:0;
  text-align: left;
}



//section{
//  float: left;
//  margin-left: 0;
//}

//.right-border
//{
//  border-style : Solid;
//  border-color : #171144;
//  border-color : rgba(23, 17, 68, 1);
//  border-width : 4px;
//  width : 36px;
//  height : 208px;
//  border-left:none;
//  float: left;
//  margin-top:90px;
//}
//.left-border
//{
//  border-style : Solid;
//  border-color : #171144;
//  border-color : rgba(23, 17, 68, 1);
//  border-width : 4px;
//  width : 36px;
//  height : 208px;
//  border-right:none;
//  float: left;
//  margin-top:90px;
//  margin-left:0;
//  margin-right:0;
//}
//
//.aboutWriteIt, .aboutAuthor {
//  min-height:200px;
//  max-width: 50%;
//  margin-top: 50px;
//}

////mobile device changes
@media only screen and (max-width: 1000px) {


  main section {
    //margin-left: 25%;
    padding-left: 10px;
    width: 40%;
    //float: left;
    margin: 0 auto;
  }
}
//
//
@media only screen and (max-width: 810px) {
  main section {
    //margin-left: 10%;
    padding: 0;
    margin: 0 auto;
    min-width:70%;
    //float: none;
    clear: both;
  }
}

//
//
//@media only screen and (max-width: 1200px){
//  .aboutWriteIt, .aboutAuthor {
//    width: 70%;
//  }
//  .right-border {
//    clear: right;
//  }
//  .left-border {
//    clear: left;
//  }
//
//  h3 {
//    margin:0;
//    padding:0;
//  }
//}
