@import "variables";
@import "main";

.container {
  margin: 0 auto;
  max-width: 960px;
  min-height:700px;
}
.section {
  width: 50%;
  float: left;
  //border: 1px solid red;
  padding: 0.5em;
}
@media screen and (max-width: 900px) {
  .section {
    width: 100%;
    text-align:center;
  }
}