@import "variables";


// Header Styles

header {
  background-color: $darkBlue;
  height: 150px;
  position: absolute;
}

// Footer Styles
footer {
  background-color: $darkBlue;
  min-height: 150px;
  //margin-top:300px;


}
.logoImg{
  overflow: hidden;
  height: 60px;
  float: left;
  margin-right: 50px;
}
.logoImg img{
  height: 130px;
  float: left;
  margin-left: 40px;
  display: block;
  padding-top:40px;
}
.spritelogo img{
  height:150px;
  overflow: hidden;
}
.spritelogo{
  max-height: 200px;
  max-width: 200px;
  overflow: hidden;
  float: left;
  margin-right:150px;
}
@media only screen and (max-width: 700px){
  .logoImg{
    overflow: hidden;
    height: 60px;
    float: left;
    bottom: 30px;
  }

  .logoImg img{
    margin-left: 40px;
    clear: both;
  }
  .spritelogo img{
    height:150px;
  }
  .spritelogo{
    max-height: 100px;
    overflow: hidden;
    background-position: -100 -90;
    float: left;
  }
  footer{
    margin-top:200px;
  }
  header{
    overflow: hidden;
    max-height:100px;
  }
}



