@import "variables";


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


// General Styles
body {
  margin:0;
  padding:0;
  background-color: $teal;
}

.alignRight {
  float: right;
  padding-right: 50px;
}

.clearfix{
  clear: both;
}