@import "variables";

// General Styles
body {
  margin:0;
  padding:0;
  background-color: $teal;
}
main {
  min-height: 700px;
  margin:0;
  padding:0;
}

.alignRight {
  float: right;
  padding-right: 50px;
}

